body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  /*height: 1px;*/
  width: 3%;
  border-color: lightgrey;
}

h1 {
  color: #206a5d;

}

h3 {
  color: #66BFBF;

}
